@media(max-width: 1278px){
    .container{
        width: 95%;
    }

}
@media(max-width: 1132px){
    .images{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}
@media(max-width: 770px){
    .info{
        flex-wrap: wrap;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .bot-info{
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }

}
@media(max-width: 375px){
    .photos{
        width: 370px;
    }
}
